@import "./normalize.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  header {
    height: 8vh;
  
    .title {
      text-align: center;
      padding: 10px;
      margin: 0;
    }
  }
  
  main {
    height: 92vh;
    display: flex;
    flex-direction: row;
  
    aside {

      .aside-header {
        margin: 0;
        padding: 8px;
        text-align: center;
      }
      
      .aside-header-list {
        height: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .filter-container {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        transition: 1s;

        .filter-modal {
          position: absolute;
          z-index: 2;
          top: 15%;
          left: 10%;
          width: 80%;
          height: 70%;
          min-height: 360px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          background-color: rgba(255, 255, 255, 0.9);
          animation: fadeIn 0.8s;

          .filter-modal-close-btn {
            position: absolute;
            top: 15px;
            right: 15px;
          }

          .filter-reset-btn {

          }
        }

        form {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          .DayPicker {
            background-color: white;
          }

          select {
            margin-bottom: 5px;
          }
        }
      }

      .event-list-container {
        height: 84%;
        overflow-x: hidden;
        width: 280px;

        .event-count {
          margin: 5px;
          text-align: center;
        }

        .event-list {
          list-style-type: none;
          padding: 0 10px;
          margin: 0;
          height: 84%;
          overflow: scroll;
          overflow-x: hidden;
        }
  
        .event {
          margin: 5px 0;
          background-color: aquamarine;

          p {
            margin: 0;
          }
        }
      }
    }
  }
}







