@import "./normalize.css";

$background-color: #001a26;
$menu-color: #053752;
$list-item-color: #ebe460;
$accent-color: #e5de44;
$highlight-color: #ef7f0c;
$light-text-color: whitesmoke;
$modal-background: whitesmoke;
$grey-text-color: #ababab;
$dark-text-color: #001a26;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $background-color;

  button,
  input[type=submit] {
    background-color: $accent-color;
    border: none;
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  input[type=submit]:focus {
    outline: none;
    border: 1px solid red;
  }

  button:focus {
    outline: none;
    border: 1px solid red;
  }

  header {
    text-align: center;
    height: 15vh;
    background-color: #001a26;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .title {
      text-align: center;
      padding: 10px 10px 0;
      margin: 0;
      font-size: 22px;
    }

    .sub-title {
      margin: 5px auto;
      width: 80%;
      font-size: 13px;
    }
  }

  nav {

    .aside-toggle-btn {
      position: absolute;
      top: 4vh;
      left: 2vw;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
    }
  }
  
  main {
    height: 85vh;
  
    aside {
      position: relative;
      width: 280px;
      height: 85vh;
      z-index: 2;
      background-color: $menu-color;   
      color: $light-text-color;   
      color: $light-text-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 0.3s ease-out;
      box-sizing: border-box;

      .aside-header {
        margin: 0;
        padding: 8px;
        text-align: center;
      }

      .filter-modal {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 360px;
        height: 85vh;
        min-height: 360px;
        background-color: #053752;
        animation: fadeIn 0.8s;
        overflow: scroll;
        overflow-x: hidden;

        .aside-filter-header {
          margin: 13px;
        }

        .filter-modal-close-btn {
          position: absolute;
          top: 15px;
          right: 15px;
        }

        .filter-area {
          
          .DayPicker {
            max-width: 320px;
            height: 270px;
            margin: auto;
            color: $dark-text-color;
            background-color: $modal-background;

            .DayPicker-Day--today {
              color: $highlight-color;
            }

            .DayPicker-Day--selected {
              background-color: $accent-color;
              color: $dark-text-color;
            }

            .DayPicker-Day--disabled { 
              color: grey;
            }
          }

          .filter-select {
            color: $light-text-color;
            
            .filter-select-li {
              margin: 10px;
            }
          }
        }

        .filter-buttons {
          margin: 30px;
          height: 50px;
          display: flex;
          width: 300px;
          padding: 10px;
          justify-content: space-evenly;
          align-items: center;

          .filter-modal-btn {
            width: 115px;
          }
        }
      }

      .event-control {
        height: 157px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 20px 0 10px;
        box-sizing: border-box;
        margin-bottom: 10px;

        .event-control-counter {
          margin: 0 0 10px;
        }

        .event-control-btn-container {
          width: 100%;
          display: flex;
          justify-content: space-between;
  
          .filter-btn {
            color: $dark-text-color;
            width: 115px;
            padding: 10px;
            box-sizing: border-box;
            height: 40px;
          }

          .event-list-sortBy-btn {
            height: 40px;
            width: 115px;
          }

          .sortBy-label {
            display: none;
          }
        }   

        .event-list-search {
          overflow: visible;
          width: 100%;
          height: 40px;
          box-sizing: border-box;
          padding: 10px;
          margin-top: 10px;
        }
      }

      .event-list {
        list-style-type: none;
        padding: 0 10px;
        margin: 0;
        height: 82%;
        width: calc(100% - 20px);
        overflow: scroll;
        overflow-x: hidden;
        color: $background-color;
      }

      .event {
        margin: 5px 0;
        background-color: $modal-background;
        cursor: pointer;
        padding: 8px;

        .event-name {
          margin: 0 0 5px;
        }

        p {
          margin: 0;
          color: $menu-color;

          span{
            font-weight: bold;
          }
        }
      }

      .event:hover,
      .event:focus {
        background-color: $accent-color;
      }

      .event:focus {
        outline: none;
        border: 1px solid red;
      }
    }

    aside:focus {
      outline: none;
      border: 1px solid red;
    }

    .aside-show {
      left: 0;
    }
    
    .aside-hide {
      left: -290px;
    }

    .map {
      width: 100%;
      position: absolute;
      top: 15vh;
      
      .map-marker {
        position: relative;
        left: -10px;
        top: -30px;
        width: 20px;
        height: 30px;
        -webkit-clip-path: polygon(100% 75%, 50% 100%, 0 75%, 0 0, 50% 25%, 100% 0);
        clip-path: polygon(100% 75%, 50% 100%, 0 75%, 0 0, 50% 25%, 100% 0);
        cursor: pointer;
        color: #001A26;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5de44+0,e5de44+51,ef7f0c+100 */
        background: rgb(229,222,68); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(229,222,68,1) 0%, rgba(229,222,68,1) 51%, rgba(239,127,12,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(229,222,68,1) 0%,rgba(229,222,68,1) 51%,rgba(239,127,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(229,222,68,1) 0%,rgba(229,222,68,1) 51%,rgba(239,127,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5de44', endColorstr='#ef7f0c',GradientType=0 ); /* IE6-9 */
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3px;
        font-size: 15px;
      }

      .map-marker:focus {
        background-color: $highlight-color;
      }

      .map-marker:hover,
      .map-marker-list-hovered {
        background: $highlight-color;
        z-index: 2;
      }

      .bounce {
        animation: bounce 0.5s;
        animation-direction: alternate;
        animation-timing-function: cubic-bezier(.5,0.05,1,.5);
        animation-iteration-count: infinite;
      }

      @keyframes bounce {
        from { transform: translate3d(0, -20px, 0); }
        to   { transform: translate3d(0, 3px, 0); }
      }
    }

    

    .map-aside {
      left: 280px;
      width: calc(100vw - 280px);
    }

    .infoWindow-wrapper {
      height: 358px;
      left: -115px;
      bottom: 413px;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      display: flex;
      position: relative;
      width: 230px;
      background-color: $background-color;
      color: $light-text-color;
      z-index: 3;
      border: 1px solid $accent-color;

      .infoWindow-venue {
        font-size: 17px;
        width: 60%;
        text-align: center;
        margin: 15px 0 0;
      }

      .infoWindow-venue-address {
        width: 80%;
        text-align: center;
        font-size: 14px;
        margin: 5px 0;
        color: $grey-text-color;
      }
      
      .infoWindow-close-btn {
        position: fixed;
        right: -107px;
        z-index: 5;
        margin-top: 7px;
        height: 30px;
        width: 30px;
      }

      .infoWindow-gradient {
        width: 100%;
        min-height: 35px;
        margin-top: -25px;
        bottom: 0px;
        z-index: 3;
        position: sticky;
        display:block;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+41,ffffff+99&0+0,1+77 */
        background: -moz-linear-gradient(top, rgba(0,26,38,0) 0%, rgba(0,26,387,0.53) 41%, $background-color 77%, $background-color 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,26,38,0) 0%,rgba(0,26,38,0.53) 41%,$background-color 77%,$background-color 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,26,38,0) 0%,rgba(0,26,38,0.53) 41%,$background-color 77%,$background-color 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
      }
    }

    .infoWindow-event-container {
      overflow-y: auto;
      width: 100%;

      .infoWindow-event {
        padding: 10px;
        margin: 0 20px 17px;
        background-color: #053752;
        left: -110px;
        z-index: 2;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        height: 240px;
        width: 190px;
        box-sizing: border-box;
        font-size: 16px;
  
        .infoWindow-event-name {
          margin: 0;
          font-size: 17px;
          color: $light-text-color;
        }

        .infoWindow-event-date {
          margin: 0;
          font-size: 14px;
          font-weight: normal;
          color: $grey-text-color;
        }

        .infoWindow-event-genre {
          margin: 0;
          font-size: 14px;
          color: $grey-text-color;
        }
  
        .infoWindow-img {
          width: 150px;
        }

        .infoWindow-link {
          margin-top: 5px;
          color: $accent-color;
          font-size: 16px;
        }

        .infoWindow-link:hover {
          color: $highlight-color;
        }
      }
    }

    
}

.error-message {
  width: 50vh;
  height: 50vh;
  text-align: center;
  color: white;
  margin: 25vh auto;
}
      /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .map-marker:focus {
    background-color: $highlight-color;
  }