@import url(./normalize.css);
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #001a26; }
  body button,
  body input[type=submit] {
    background-color: #e5de44;
    border: none;
    padding: 10px;
    width: 40px;
    height: 40px; }
  body header {
    text-align: center;
    height: 15vh;
    background-color: #001a26;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body header .title {
      text-align: center;
      padding: 10px 10px 0;
      margin: 0;
      font-size: 22px; }
    body header .sub-title {
      margin: 5px auto;
      width: 80%;
      font-size: 13px; }
  body nav .aside-toggle-btn {
    position: absolute;
    top: 4vh;
    left: 2vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }

main {
  height: 85vh; }
  main aside {
    position: relative;
    width: 280px;
    height: 85vh;
    z-index: 2;
    background-color: #053752;
    color: whitesmoke;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-out; }
    main aside .aside-header {
      margin: 0;
      padding: 8px;
      text-align: center; }
    main aside .filter-modal {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100vw;
      height: 85vh;
      min-height: 360px;
      background-color: #053752;
      animation: fadeIn 0.8s;
      overflow: scroll;
      overflow-x: hidden; }
      main aside .filter-modal .aside-filter-header {
        margin: 13px; }
      main aside .filter-modal .filter-modal-close-btn {
        position: absolute;
        top: 15px;
        right: 15px; }
      main aside .filter-modal .filter-area .DayPicker {
        max-width: 320px;
        height: 270px;
        margin: auto;
        color: #001a26;
        background-color: whitesmoke; }
        main aside .filter-modal .filter-area .DayPicker .DayPicker-Day--today {
          color: #ef7f0c; }
        main aside .filter-modal .filter-area .DayPicker .DayPicker-Day--selected {
          background-color: #e5de44;
          color: #001a26; }
        main aside .filter-modal .filter-area .DayPicker .DayPicker-Day--disabled {
          color: grey; }
      main aside .filter-modal .filter-area .filter-select {
        color: whitesmoke; }
        main aside .filter-modal .filter-area .filter-select .filter-select-li {
          margin: 10px; }
      main aside .filter-modal .filter-buttons {
        margin: 30px;
        height: 50px;
        display: flex;
        width: 100%;
        padding: 10px;
        justify-content: space-evenly;
        align-items: center; }
        main aside .filter-modal .filter-buttons .filter-modal-btn {
          width: 115px; }
    main aside .event-control {
      height: 75px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 0 20px 0 10px;
      box-sizing: border-box;
      margin-bottom: 10px; }
      main aside .event-control .event-control-counter {
        margin: 0 0 10px; }
      main aside .event-control .event-control-btn-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly; }
        main aside .event-control .event-control-btn-container .filter-btn {
          color: #001a26;
          width: 115px;
          padding: 10px;
          box-sizing: border-box;
          height: 40px; }
        main aside .event-control .event-control-btn-container .event-list-sortBy-btn {
          height: 40px;
          width: 115px; }
    main aside .event-list {
      list-style-type: none;
      padding: 0 10px;
      margin: 0;
      height: 82%;
      overflow: scroll;
      overflow-x: hidden;
      color: #001a26; }
    main aside .event {
      margin: 5px 0;
      background-color: whitesmoke;
      cursor: pointer;
      padding: 8px; }
      main aside .event .event-name {
        margin: 0 0 5px; }
      main aside .event p {
        margin: 0;
        font-weight: bold;
        color: #053752; }
    main aside .event:hover {
      background-color: #e5de44; }
  main .aside-show {
    left: 0; }
  main .aside-hide {
    left: -290px; }
  main .map {
    width: 100%;
    position: absolute;
    top: 15vh; }
    main .map .map-marker {
      position: relative;
      left: -10px;
      top: -30px;
      width: 20px;
      height: 30px;
      -webkit-clip-path: polygon(100% 75%, 50% 100%, 0 75%, 0 0, 50% 25%, 100% 0);
      clip-path: polygon(100% 75%, 50% 100%, 0 75%, 0 0, 50% 25%, 100% 0);
      cursor: pointer;
      color: #001A26;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5de44+0,e5de44+51,ef7f0c+100 */
      background: #e5de44;
      /* Old browsers */
      background: -moz-linear-gradient(top, #e5de44 0%, #e5de44 51%, #ef7f0c 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #e5de44 0%, #e5de44 51%, #ef7f0c 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #e5de44 0%, #e5de44 51%, #ef7f0c 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5de44', endColorstr='#ef7f0c',GradientType=0 );
      /* IE6-9 */
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 3px;
      font-size: 15px; }
    main .map .map-marker:hover,
    main .map .map-marker-list-hovered {
      background: #ef7f0c;
      z-index: 2; }
    main .map .bounce {
      animation: bounce 0.5s;
      animation-direction: alternate;
      animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
      animation-iteration-count: infinite; }

@keyframes bounce {
  from {
    transform: translate3d(0, -20px, 0); }
  to {
    transform: translate3d(0, 3px, 0); } }
  main .map-aside {
    left: 280px;
    width: calc(100vw - 280px); }
  main .infoWindow-wrapper {
    height: 358px;
    left: -115px;
    bottom: 413px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: relative;
    width: 230px;
    background-color: #001a26;
    color: whitesmoke;
    z-index: 3;
    border: 1px solid #e5de44; }
    main .infoWindow-wrapper .infoWindow-venue {
      font-size: 17px;
      width: 60%;
      text-align: center;
      margin: 15px 0 0; }
    main .infoWindow-wrapper .infoWindow-venue-address {
      width: 80%;
      text-align: center;
      font-size: 14px;
      margin: 5px 0;
      color: #ababab; }
    main .infoWindow-wrapper .infoWindow-close-btn {
      position: fixed;
      right: -107px;
      z-index: 5;
      margin-top: 7px;
      height: 30px;
      width: 30px; }
    main .infoWindow-wrapper .infoWindow-gradient {
      width: 100%;
      min-height: 35px;
      margin-top: -25px;
      bottom: 0px;
      z-index: 3;
      position: sticky;
      display: block;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+41,ffffff+99&0+0,1+77 */
      background: -moz-linear-gradient(top, rgba(0, 26, 38, 0) 0%, rgba(0, 26, 255, 0.53) 41%, #001a26 77%, #001a26 99%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 26, 38, 0) 0%, rgba(0, 26, 38, 0.53) 41%, #001a26 77%, #001a26 99%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 26, 38, 0) 0%, rgba(0, 26, 38, 0.53) 41%, #001a26 77%, #001a26 99%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
      /* IE6-9 */ }
  main .infoWindow-event-container {
    overflow-y: auto;
    width: 100%; }
    main .infoWindow-event-container .infoWindow-event {
      padding: 10px;
      margin: 0 20px 17px;
      background-color: #053752;
      left: -110px;
      z-index: 2;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      height: 240px;
      width: 190px;
      box-sizing: border-box;
      font-size: 16px; }
      main .infoWindow-event-container .infoWindow-event .infoWindow-event-name {
        margin: 0;
        font-size: 17px;
        color: whitesmoke; }
      main .infoWindow-event-container .infoWindow-event .infoWindow-event-date {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        color: #ababab; }
      main .infoWindow-event-container .infoWindow-event .infoWindow-event-genre {
        margin: 0;
        font-size: 14px;
        color: #ababab; }
      main .infoWindow-event-container .infoWindow-event .infoWindow-img {
        width: 150px; }
      main .infoWindow-event-container .infoWindow-event .infoWindow-link {
        margin-top: 5px;
        color: #e5de44;
        font-size: 16px; }
      main .infoWindow-event-container .infoWindow-event .infoWindow-link:hover {
        color: #ef7f0c; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

/*
        .filter-modal {
          position: absolute;
          z-index: 2;
          top: 15%;
          left: 10%;
          width: 80%;
          height: 70%;
          min-height: 360px;
          display: grid;
          grid-template: 20% 60% 20% / 1fr;
          background-color: white;
          animation: fadeIn 0.8s;

          .filter-modal-btn {
            color: red;
            margin: 5px;
            width: 150px;
            padding: 10px;
          }

          .filter-modal-close-btn {
            position: absolute;
            top: 15px;
            right: 15px;
          }

          .filter-area {
            grid-area: 2 / 1 / 3 / 2;
            display: grid;
            grid-template: 1fr / 50% 50%;

            .DayPicker {
              max-width: 320px;
              height: 270px;
              margin: auto;
            }

            .filter-select {
              grid-area: 1 / 2 / 2 / 3;

              .filter-select-li {
                margin: 5px;
              }
            }
          }

          .filter-buttons {
            grid-area: 3 / 1 / 4 / 2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
          }
        }
        */
